.Home-container{
    display: flex;
    
}

.Home-category{
    display: flex;
    flex-direction: column;
    flex:0.3;
    border: solid 1px lightgray;
    padding:10px;
    margin:10px;
    /* height:100vh; */
    background-color: white;
    margin-right: 5px;
    min-height:600px ;

}

.Home-category >button{
    padding:10px;
    margin-bottom: 10px;
}


.Home-products{
    display: flex;
    object-fit: contain;
    /* margin:10px; */
    /* border:1px solid lightgray; */
    padding:10px;
    /* height: 100vh; */
    flex-wrap: wrap;
    flex-shrink: inherit;
    flex-flow: row wrap;
    background-color: white;
    margin:-10px;
    flex:1;
    min-width:1000px;
    min-height:600px ;





}

.Home-right{
    display: flex;
    flex-direction: column;
    flex:0.7;
    object-fit: contain;
    margin:10px;
    border:1px solid lightgray;
    height: 100vh;
    align-items: left;
    padding: 10px;
    /* flex:0.7; */
    background-color: white;
    min-height:650px ;


}

.header{
    margin-left:10px
}